<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input [(ngModel)]="searchText" (keyup)="search(input.value)" type="text" class="form-control" placeholder="Search user..">
            </div>
        </div>
    </div>
</div>

<div *ngIf="loading" class="row animated fadeIn">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Loading...</strong>
            <br>
            <i class="fa fa-spinner fa-pulse fa-2x"></i>
            <br>
            <span>Wait please</span>
        </div>
    </div>

</div>



<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Registered users ( <small>{{totalUsers}}</small> )</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Role</th>
                            <th>Auth</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td class="w70"><img (click)="showModal(user._id)" style="cursor:pointer" [src]="user.image | image" class="w50"> </td>
                            <td>{{user.email}}</td>
                            <td>{{user.name}}</td>
                            <!-- <td>{{user.role}}</td> -->
                            <td>
                                <select [(ngModel)]="user.role" name="role" class="form-control">
                                  <option value="admin_role">Admin</option>
                                  <option value="user_role">User</option>
                                </select>
                            </td>
                            <td>
                                <label *ngIf="user.google" class="label label-danger">google</label>
                                <label *ngIf="!user.google" class="label label-primary">normal</label>
                                <!-- {{user.google}} -->
                            </td>
                            <td>
                                <button (click)="updateUser(user)" class="btn btn-primary">
                                <i class="fa fa-save"></i>
                              </button>

                                <button (click)="removeUser(user)" class="btn btn-danger">
                                  <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="pagging(false)" class="btn btn-secondary">
                    Back
                </button>
                <button (click)="pagging(true)" class="btn btn-secondary">
                    Next
                </button>
            </div>
        </div>
    </div>
</div>