<div class="row">
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <h4 class=card-tittle>Themes</h4>
                <hr/>
                <div class="r-panel-body">
                    <ul id="themecolors" class="m-t-20">
                        <li><b>Con el sidebar claro</b></li>
                        <li><a #lnkTheme1 (click)="changeTheme('default', lnkTheme1)" data-theme="default" class="selector default-theme">1</a></li>
                        <li><a #lnkTheme2 (click)="changeTheme('green', lnkTheme2)" data-theme="green" class="selector green-theme">2</a></li>
                        <li><a #lnkTheme3 (click)="changeTheme('red', lnkTheme3)" data-theme="red" class="selector red-theme">3</a></li>
                        <li><a #lnkTheme4 (click)="changeTheme('blue', lnkTheme4)" data-theme="blue" class="selector blue-theme">4</a></li>
                        <li><a #lnkTheme5 (click)="changeTheme('purple', lnkTheme5)" data-theme="purple" class="selector purple-theme">5</a></li>
                        <li><a #lnkTheme6 (click)="changeTheme('megna', lnkTheme6)" data-theme="megna" class="selector megna-theme">6</a></li>

                        <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
                        <li><a #lnkTheme7 (click)="changeTheme('default-dark', lnkTheme7)" data-theme="default-dark" class="selector default-dark-theme">7</a></li>
                        <li><a #lnkTheme8 (click)="changeTheme('green-dark', lnkTheme8)" data-theme="green-dark" class="selector green-dark-theme">8</a></li>
                        <li><a #lnkTheme9 (click)="changeTheme('red-dark', lnkTheme9)" data-theme="red-dark" class="selector red-dark-theme">9</a></li>
                        <li><a #lnkTheme10 (click)="changeTheme('blue-dark', lnkTheme10)" data-theme="blue-dark" class="selector blue-dark-theme">10</a></li>
                        <li><a #lnkTheme11 (click)="changeTheme('purple-dark', lnkTheme11)" data-theme="purple-dark" class="selector purple-dark-theme">11</a></li>
                        <li><a #lnkTheme12 (click)="changeTheme('megna-dark', lnkTheme12)" data-theme="megna-dark" class="selector megna-dark-theme">12</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>